body {
    padding: 0;
    margin: 0;
}

body.theme-light {
    background-color:#fff;      /* TODO maybe make this a softer white? */
    color: #000;
}

body.theme-dark {
    background-color:#1E1E1E;
    color:#fff;
    #editor-buttons {
        background-color: transparent;
    }
}

#editor-buttons-wrapper {
    width: 120px;
    text-align: center;

    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
    &.collapsed {
        right: -100px;
    }
    #editor-buttons {
        transition: 0.2s ease-in-out;
        position: relative;
        left: 150px;
        ul {
            list-style: none;
            padding: 0;
            li {
                padding: 10px;
            }
        }
    }
}

@media (min-width: 992px) {
    #editor-buttons-wrapper:hover { // TODO this won't work on touch devices since they can't hover; implement slide in from side.
        #editor-buttons {
            left: 0;
        }
    }
}

#editor {
    height: 100vh;
    padding:10px;
}