body {
    padding: 0;
    margin: 0;
}

body.theme-light {
    background-color:#fff;      /* TODO maybe make this a softer white? */
    color: #000;
}

body.theme-dark {
    background-color:#1E1E1E;
    color:#fff;
}

.editor-buttons-wrapper {
    width: 120px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    #editor-buttons {
        position: relative;
        left: 120px;
        transition: 0.4s ease-in-out;
        ul {
            list-style: none;
        }
    }
}

.editor-buttons-wrapper:hover #editor-buttons { // TODO this won't work on touch devices since they can't hover; implement solution.
    left: 0;
}

#editor {
    height: 100vh;
    padding:10px;
}