body {
    padding: 0;
    margin: 0;
}

body.theme-light {
    background-color:#fff;      /* TODO maybe make this a softer white? */
    color: #000;
}

body.theme-dark {
    background-color:#1E1E1E;
    color:#fff;
    #editor-buttons {
        background-color: transparent;
    }
}
#editor-buttons {
    position: fixed;
    right: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            padding: 10px;
        }
    }
}

#editor {
    height: 100vh;
    padding:10px;
}